<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
	
	<link href="css/browseStyles.css" rel="stylesheet">
	<link href="css/signup.css" rel="stylesheet">
        <link href="css/createDebate.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    
    <script src="socket.io/socket.io.js"></script>


</head>

<body ng-app="app">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="index.html">Home</a>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                         <a href="signup.html">My Profile</a>
                    </li>
                    <li>
                        <a href="CreateDebate.html">Create Debate</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/logout"> Logout</a>
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

 <div class="top">
        <div class="container">



                <div class="intro-message">
                    <h1>Create a Debate Topic!</h1>
                    <hr class="intro-divider">
                </div>
    </div>
</div>
           
 


<div class="container" ng-controller="debateController">
    <div class="row">
        <p id="error"></p>
        <div class="col-md-4">
            <form>
            <div id="contact-form" class="form-container" data-form-container>
            <div class="row">
                <div class="form-title">
                    <span>What's On Your Mind Today?</span>
                </div>
            </div>
            <div class="input-container">
                <div class="row">
                    <span class="req-input" >
                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Debate topic"> </span>
                        <input type="text" name="topic" id="debateTopic" placeholder="Debate Topic">
                    </span>
                </div>
            
                <div class="row">
                    <span class="req-input message-box">
                        <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Include a Debate."> </span>
                        <textarea type="textarea" name="debateInfo" id="newDebate"  data-min-length="10" rows="5" placeholder="What's your debate? If you cant think of anything... So about chicken tenders and chicken nuggets..."></textarea>
                </div>
                <div class="row submit-row">
                    <button type="button" class="btn btn-block submit-form" name="addDebate" id="createDebate"  ng-click="addDebate()">Submit </button>
                </div>
            </div>
            </div>
            </form>
        </div>
        <ul ng-repeat="item in items">
          <li> 
            <span> {{item.topic}} </span>
        </li>
      </ul>
      
    </div>
</div>


 <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    
    <script src="js/createDebate.js"></script>
<script src="js/createDebate2.js"></script>

</body>

</html>
