
.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.search .browse {
    height: 26px;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search .browse:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.browse {
    width:240px;
}

img {
	height: 400px;
	width: 300px;
}
.wrapper {
    text-align: center;
    margin-top: 5px;
}

.button {
    position: absolute;
    top: 50%;
}

.top {
	padding-top: 50px;
}

h1 {
	text-align: center;
}
#this {
    background: rgb(0, 169, 148) linear-gradient(to right, rgb(148, 148, 148) 1%, rgb(84, 84, 84) 100%);
    color: white;
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    padding: 3pt;
    padding-left: 10pt;
    line-height: 20pt;
    width: 150pt;
    border-radius: 25px

}


#this:hover {
    background: rgb(0, 169, 148) linear-gradient(to right, rgba(0, 169, 148, 1) 1%, rgba(0, 84, 166, 1) 100%);

}

#this + #this {
    margin-top: 6pt; /* This is the spacing between the arrows */
}

